@charset "UTF-8";

    * {
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        background-color: #365F6B;
    }

    main {
        position: relative;
    }

    p#pesquisar {
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px;
        padding-left: 30px;
        color: lightgray;
    }

    p#expandir {
        color: rgb(70, 209, 219);
        text-align: right;
        padding-right: 10px;
    }

    p#recentes {
        color: white;
        margin-top: -20px;
        font-weight: bolder;
        padding-left: 10px;
    }

    p#categorias {
        color: white;
        font-weight: bolder;
        padding-left: 10px;
    }

    ul {
        columns: 2;
        margin-left: -40px;         
    }

    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    p.menu {
        background-color: #2C3B41;
        border: 1px solid black;           
        border-radius: 10px;
        color: white;
        margin: 0px;
        margin-bottom: 10px;
        padding: 15px;
        text-align: left;
    }

    img.recentes {
        display: inline-block;
        margin-right: 7px;
        width: 97px;
        height: 146px;
    }