@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

main {
    position: relative;
}

img {
    width: 200px;
    height: 400px;
    position: absolute;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    color: white;
    padding: 5px;
    font-weight: bolder;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;           
    bottom: 85%;
    left: 90%;
}