@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

main {
    position: relative;
    height: 100vh;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    position: absolute;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 800px;
    width: 400px;
}