@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: url("../imagens/images.jpg") no-repeat ;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#principal {
    position: absolute;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 753px;
    width: 375px;
    background: url("../imagens/celular.png") no-repeat;

}

iframe#tela {
    position: relative;
    top: 80px;
    left: 19px;
    width: 339px;
    height: 600px;
}