@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

section#principal {
    background: url("../imagens/images.jpg") no-repeat top center;    
}