@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: url("../imagens/images.jpg") no-repeat ;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}
section#principal {
    position: absolute;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 753px;
    width: 375px;
    background: url("../imagens/celular.png") no-repeat;

}

    section#apps {
        text-align: right;
    }

    section#apps img {
        width: 50px;
        margin: 10px;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
        box-sizing: border-box;
    }

    section#apps p {
        text-align: right;
        color: white;
        margin-top: -5px;
        margin-right: 10px;
       
    }

iframe#tela {
    position: relative;
    top: 80px;
    left: 19px;
    width: 339px;
    height: 600px;
}